@import 'toggle';

.timer-toggle {
    display: inline;
    float: right;
    @include tablet {
        float: left;
    }
}

#timer {
    width: 100%;
    margin-bottom: 4px;

    progress {
        display: none;
        width: calc(100% - 110px);
        margin-top: .6em;
    }
}
