@import 'toggle';

.timer-toggle {
    display: inline;
    float: right;
    @include tablet {
        float: left;
        margin-right: 15px
    }
}

#timer {
    width: 100%;
    margin-bottom: 4px;

    progress {
        width: calc(100% - 110px);
        margin-top: .6em;
        opacity: 0;
        transition: opacity ease .2s;

        &.visible {
            opacity: 1;
        }
    }
}
