// ###### TABLE OF CONTENTS ######
//
// # Fonts
// # Colors
//
// ###############################



// # Fonts
$general-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;



// # Colors
$primary-color: #3d8d7f;
$secondary-color: #92a69e;
